# RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# renv local libs and staging
renv/library/
renv/staging/

# OS cruft
.DS_Store
Thumbs.db

# Build artifacts
*.Rcheck/
.vscode/
.idea/

# pkgdown/site output (will add later)
!/docs
!/docs/**
site/
.Rproj.user
/doc/
/Meta/
inst/doc
!inst/examples/**